.tictactoe__tabuleiro{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.tictactoe__casa{
  box-sizing: border-box;
  background-color: var(--cor-6);
  width: 140px;
  height: 140px;
  padding: 38.27px;
  box-shadow: 0px -8px 0px 0px #10212A inset;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s;
}

@media (max-width:600px){
  .tictactoe__casa{
    width: 96px;
    height: 96px;
    padding: 28px;
  }
  .tictactoe__tabuleiro{
    margin-top: 60px;
  }
}